<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ap_id</key>
		<string>1</string>
		<key>ap_isrefer</key>
		<string>是</string>
		<key>map_id</key>
		<integer>2</integer>
		<key>ap_x</key>
		<integer>0</integer>
		<key>ap_y</key>
		<integer>0</integer>
		<key>ap_sendpower</key>
		<integer>20</integer>
		<key>ap_sendgain</key>
		<integer>10</integer>
		<key>ap_receiverefer</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>ap_id</key>
		<string>2</string>
		<key>ap_isrefer</key>
		<string></string>
		<key>map_id</key>
		<integer>2</integer>
		<key>ap_x</key>
		<integer>1000</integer>
		<key>ap_y</key>
		<integer>0</integer>
		<key>ap_sendpower</key>
		<integer>20</integer>
		<key>ap_sendgain</key>
		<integer>10</integer>
		<key>ap_receiverefer</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>ap_id</key>
		<string>3</string>
		<key>ap_isrefer</key>
		<string></string>
		<key>map_id</key>
		<integer>2</integer>
		<key>ap_x</key>
		<integer>500</integer>
		<key>ap_y</key>
		<integer>500</integer>
		<key>ap_sendpower</key>
		<integer>16</integer>
		<key>ap_sendgain</key>
		<integer>10</integer>
		<key>ap_receiverefer</key>
		<integer>36</integer>
	</dict>
	<dict>
		<key>ap_id</key>
		<string>4</string>
		<key>ap_isrefer</key>
		<string></string>
		<key>map_id</key>
		<integer>2</integer>
		<key>ap_x</key>
		<integer>1000</integer>
		<key>ap_y</key>
		<integer>1000</integer>
		<key>ap_sendpower</key>
		<integer>30</integer>
		<key>ap_sendgain</key>
		<integer>12</integer>
		<key>ap_receiverefer</key>
		<integer>68</integer>
	</dict>
	<dict>
		<key>ap_id</key>
		<string>5</string>
		<key>ap_isrefer</key>
		<string></string>
		<key>map_id</key>
		<integer>2</integer>
		<key>ap_x</key>
		<integer>200</integer>
		<key>ap_y</key>
		<integer>800</integer>
		<key>ap_sendpower</key>
		<integer>42</integer>
		<key>ap_sendgain</key>
		<integer>8</integer>
		<key>ap_receiverefer</key>
		<integer>28</integer>
	</dict>
	<dict>
		<key>ap_id</key>
		<string>6</string>
		<key>ap_isrefer</key>
		<string></string>
		<key>map_id</key>
		<integer>2</integer>
		<key>ap_x</key>
		<integer>1000</integer>
		<key>ap_y</key>
		<integer>0</integer>
		<key>ap_sendpower</key>
		<integer>20</integer>
		<key>ap_sendgain</key>
		<integer>10</integer>
		<key>ap_receiverefer</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>ap_id</key>
		<string>7</string>
		<key>ap_isrefer</key>
		<string></string>
		<key>map_id</key>
		<integer>2</integer>
		<key>ap_x</key>
		<integer>1000</integer>
		<key>ap_y</key>
		<integer>0</integer>
		<key>ap_sendpower</key>
		<integer>20</integer>
		<key>ap_sendgain</key>
		<integer>10</integer>
		<key>ap_receiverefer</key>
		<integer>40</integer>
	</dict>
	<dict>
		<key>ap_id</key>
		<string>8</string>
		<key>ap_isrefer</key>
		<string></string>
		<key>map_id</key>
		<integer>2</integer>
		<key>ap_x</key>
		<integer>1000</integer>
		<key>ap_y</key>
		<integer>0</integer>
		<key>ap_sendpower</key>
		<integer>20</integer>
		<key>ap_sendgain</key>
		<integer>10</integer>
		<key>ap_receiverefer</key>
		<integer>40</integer>
	</dict>
</array>
</plist>
