<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fp_id</key>
		<string>303</string>
		<key>fp_x</key>
		<integer>100</integer>
		<key>fp_y</key>
		<integer>100</integer>
		<key>fp_receivegain</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fp_id</key>
		<string>304</string>
		<key>fp_x</key>
		<integer>100</integer>
		<key>fp_y</key>
		<integer>200</integer>
		<key>fp_receivegain</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fp_id</key>
		<string>305</string>
		<key>fp_x</key>
		<integer>100</integer>
		<key>fp_y</key>
		<integer>300</integer>
		<key>fp_receivegain</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fp_id</key>
		<string>306</string>
		<key>fp_x</key>
		<integer>100</integer>
		<key>fp_y</key>
		<integer>400</integer>
		<key>fp_receivegain</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fp_id</key>
		<string>307</string>
		<key>fp_x</key>
		<integer>100</integer>
		<key>fp_y</key>
		<integer>500</integer>
		<key>fp_receivegain</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fp_id</key>
		<string>308</string>
		<key>fp_x</key>
		<integer>100</integer>
		<key>fp_y</key>
		<integer>600</integer>
		<key>fp_receivegain</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fp_id</key>
		<string>309</string>
		<key>fp_x</key>
		<integer>100</integer>
		<key>fp_y</key>
		<integer>700</integer>
		<key>fp_receivegain</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fp_id</key>
		<string>310</string>
		<key>fp_x</key>
		<integer>100</integer>
		<key>fp_y</key>
		<integer>800</integer>
		<key>fp_receivegain</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fp_id</key>
		<string>311</string>
		<key>fp_x</key>
		<integer>100</integer>
		<key>fp_y</key>
		<integer>900</integer>
		<key>fp_receivegain</key>
		<integer>20</integer>
	</dict>
	<dict>
		<key>fp_id</key>
		<string>312</string>
		<key>fp_x</key>
		<integer>100</integer>
		<key>fp_y</key>
		<integer>1000</integer>
		<key>fp_receivegain</key>
		<integer>20</integer>
	</dict>
</array>
</plist>
